<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h4>Ensolvers</h4>
</div>

<div class="container" role="main" id="main-container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-white">
                <div class="card-body">
                    <div class="todo-nav">
                        <h2>To-Do List</h2>
                    </div>
                    <div *ngFor="let item of items" class="todo-list">
                        <div class="todo-item">
                            <div class="checker"><span class=""><input type="checkbox"></span></div>
                                <span>{{item?.name}}</span>
                                <a (click)="onDeleteItem(item)" class="float-right" data-placement="top" data-original-title="Delete">Delete</a>
                                <a (click)="onUpdateItem(item)" class="float-right" data-placement="top" data-original-title="Edit">Edit</a>
                            </div>
                        </div>
                    <form [formGroup]="addItemForm" (ngSubmit)="onAddItem(addItemForm.value)">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="New Task..." aria-label="New Task..." aria-describedby="basic-addon2" formControlName="itemName">
                            <div class="input-group-append">
                                <button id="add-item-form" [disabled]="!addItemForm.invalid" class="btn btn-outline-primary" type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>